/** header */
#header {
  margin-top: 4%;
}

.main-app-title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header-custome-style {
  margin-top: 5%;
}

/**End */
/**For div  */
.custome-div-style {
  padding: 10px 10px 10px 10px;
}
