<template>
  <div class="card-body border">
    <div class="custome-div-style">
      <label>Task Name</label>
      <input
        type="text"
        v-model="todos_list.task_name"
        class="form-control"
        name="task"
        v-validate="'required|max:100'"
      />
      <span class="text-danger text-sm">{{ errors.first('task') }}</span>
    </div>
    <div class="custome-div-style">
      <label>Priority</label>
      <br />
      <div class="form-check-inline">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="High"
            name="priority"
            v-model="todos_list.priority"
          /> High
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="Medium"
            name="priority"
            v-model="todos_list.priority"
          />Medium
        </label>
      </div>
      <div class="form-check-inline disabled">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="Low"
            name="priority"
            v-model="todos_list.priority"
          />Low
        </label>
      </div>
    </div>
    <div class="custome-div-style">
      <button class="btn btn-danger" @click="checkValidate()">Submit</button>
      <button class="btn btn-success" @click="goBack()">Back</button>
    </div>
  </div>
</template>
<script>
import mixin from "../mixins/mixin";
export default {
  props: {
    todos: {
      required: true
    }
  },
  data() {
    return {
      todos_list: {
        id: null,
        task_name: null,
        priority: "Medium",
        status: null
      }
    };
  },
  mounted() {
    this.setValidationMessage();
  },
  methods: {
    /**Add task in todo list */
    addTodo() {
      let id = this.todos.length + 1;
      id = this.checkTaskIdExist(id);
      this.todos_list.id = id;
      this.todos_list.status = 0;
      this.todos.push(this.todos_list);
      this.todos_list = {
        id: null,
        task_name: null,
        priority: null,
        status: null
      };

      this.$swal({
        title: "Success",
        text: "Your task is successfully added",
        type: "success"
      });
      /**Redirect to list page */
      this.$router.push({ name: "todo-list" });
    },
    /**For validations */
    checkValidate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.addTodo();
        }
      });
    },
    /**For check id is already exist in todos task */
    checkTaskIdExist(id) {
      for (var i = 0; i < this.todos.length; i++) {
        if (this.todos[i].id === id) {
          id = id + 1;
          id = this.checkTaskIdExist(id);
          return id;
        }
      }
      return id;
    }
  },
  mixins: [mixin]
};
</script>