<template>
  <div class="card-body border">
    <div class="custome-div-style">
      <label>Task Name {{ getTodo }}</label>
      <input
        type="text"
        v-model="task_name"
        class="form-control"
        name="task"
        v-validate="'required|max:100'"
      />
      <span class="text-danger text-sm">{{ errors.first('task') }}</span>
    </div>
    <div class="custome-div-style">
      <label>Priority</label>
      <br />
      <div class="form-check-inline">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="High"
            name="priority"
            v-model="priority"
          /> High
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="Medium"
            name="priority"
            v-model="priority"
            checked
          />Medium
        </label>
      </div>
      <div class="form-check-inline disabled">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            value="Low"
            name="priority"
            v-model="priority"
          />Low
        </label>
      </div>
    </div>
    <div class="custome-div-style">
      <button class="btn btn-danger" @click="checkValidate">Update</button>
      <button class="btn btn-success" @click="goBack()">Back</button>
    </div>
  </div>
</template>
<script>
import mixin from "../mixins/mixin";
export default {
  props: {
    todos: {
      required: true
    }
  },
  data() {
    return {
      getTodo,
      task_name: null,
      priority: null
    };
  },
  computed: {
    /**Get task for edit parpase */
    getTodo() {
      for (var i = 0; i < this.todos.length; i++) {
        if (this.todos[i].id == this.$route.params.id) {
          this.task_name = this.todos[i].task_name;
          this.priority = this.todos[i].priority;
        }
      }
    }
  },
  methods: {
    /**Update task in todo list */
    updateTodo() {
      for (var i = 0; i < this.todos.length; i++) {
        if (this.todos[i].id == this.$route.params.id) {
          this.todos[i].task_name = this.task_name;
          this.todos[i].priority = this.priority;
        }
      }
      this.$swal({
        title: "Success",
        text: "Your task is successfully updated",
        type: "success"
      });
      /**Redirect to list page */
      this.$router.push({ name: "todo-list" });
    },
    /**For validations */
    checkValidate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.updateTodo();
        }
      });
    }
  },
  mixins: [mixin]
};
</script>