<template>
  <div class="card header-custome-style">
    <div class="card-header">
      <h3 class="main-app-title">Todo App</h3>
      <h6 class="main-app-title">{{ this.$route.meta.title }}</h6>
    </div>
  </div>
</template>