<template>
  <div id="todo-section" class="container card-body border">
    <div style="margin:50px" id="todo-action">
      <div>
        <router-link class="btn btn-success" :to="{ name: '/add-todo', params: { todos } }">Add Todo</router-link>
        <button
          class="btn btn-danger"
          style="float:right"
          v-if="todos.length>0"
          @click="deleteAllTodo"
        >Delete All Todos</button>
      </div>
    </div>
    <div id="todo-body" style="margin:50px 100px 10px;">
      <table width="100%" class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Todo</th>
          <th>Priority</th>
          <th>
            Edit
            <font-awesome-icon icon="coffee" />
          </th>
          <th>Delete</th>
          <th>
            <!--  <input type="checkbox" class="custom-control" id="general_checkbox" v-model="general_task_done" @click="changeTodoStatus('all')" /> -->
          </th>
        </tr>
        <tr v-if="todos.length==0">
          <td colspan="6" style="text-align:center">Empty list</td>
        </tr>
        <tr v-for="todo in todos" v-bind:key="todo">
          <td
            style="text-align:left; text-decoration-line: line-through;"
            v-if="todo.status"
          >{{todo.id}}</td>
          <td style="text-align:left" v-else>{{todo.id}}</td>

          <td
            style="text-align:left; text-decoration-line: line-through;"
            v-if="todo.status"
          >{{todo.task_name}}</td>
          <td style="text-align:left" v-else>{{todo.task_name}}</td>

          <td
            style="text-align:left; text-decoration-line: line-through;"
            v-if="todo.status"
          >{{todo.priority}}</td>
          <td style="text-align:left" v-else>{{todo.priority}}</td>

          <td style="text-align:left">
            <router-link
              style="color:green"
              v-if="!todo.status"
              :to="{ path: '/edit-todo/'+todo.id, params: { todos } }"
            >Edit</router-link>
            <span class="link-disabled" v-else>Edit</span>
          </td>
          <td style="text-align:left">
            <label style="float:left;color:red" @click="deleteTodo(todo.id)">Delete</label>
          </td>
          <td style="text-align:left">
            <input
              type="checkbox"
              class="custom-control"
              v-if="todo.status"
              checked
              @click="changeTodoStatus(todo.id)"
            />
            <input type="checkbox" class="custom-control" @click="changeTodoStatus(todo.id)" v-else />
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    todos: []
    // general_task_done:false
  },
  data() {
    return {
      todos: []
    };
  },
  methods: {
    /**Delete all task in todo list */
    deleteAllTodo() {
      this.$swal({
        title: "Are you sure?",
        text: "You can delete your all task",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result) {
          this.$swal({
            title: "Deleted",
            text: "Successfully deleted the all task",
            type: "success"
          });
          setTimeout(function() {
            window.location.reload();
          }, 2000);
          window.location.reload();
        } else {
          this.$swal("Cancelled", "Your tasks are still in todo list", "info");
        }
      });
    },
    /**Delete specific task in todo list */
    deleteTodo(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You can delete your task",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result) {
          for (var i = 0; i < this.todos.length; i++) {
            if (this.todos[i].id == id) {
              this.todos.splice(i, 1);
            }
          }
          this.$swal("Deleted", "Successfully deleted this task", "success");
        } else {
          this.$swal("Cancelled", "Your task is still in todo list", "info");
        }
      });
    },
    /**Change task status(done/ not done) */
    changeTodoStatus(id) {
      for (var i = 0; i < this.todos.length; i++) {
        if (this.todos[i].id == id) {
          if (this.todos[i].status) {
            this.todos[i].status = 0;
          } else {
            this.todos[i].status = 1;
          }
        } /* else if(id === 'all'){
            if (this.todos[i].status) {
              this.todos[i].status = 0;
            } else {
              this.todos[i].status = 1;
            }
          }    */
      }
    }
  }
};
</script>