<template>
  <div id="todo-app" class="container">
    <app-header></app-header>
    <router-view v-bind:todos="todos"></router-view>
  </div>
</template>
<style>
@import "./assets/css/style.css";
</style>
<script>
import Header from "./components/Header.vue";
import TodoSection from "./components/TodoSection.vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  components: {
    "app-header": Header,
    "todo-section": TodoSection
  },
  data() {
    return {
      todos: []
    };
  }
};
</script>

